.page-container{
    animation: fadeIn 0.4s ease-in-out;
    padding: var(--spacing-lg);
}

@keyframes fadeIn{
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

.header-section{
    padding: var(--spacing-lg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .form-btn{
        height: 42px;
    }
}

.category-card{
    display: flex;
    flex-direction: column;

    background-color: var(--color-surface);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    gap: var(--spacing-md);
    
    text-align: center;
    align-items: center;
    
    transition: all 0.3s ease;

    &:hover{
        background-color: var(--color-bg);
        transform: translateY(-3px);
        box-shadow: var(--shadow-md);

        .card-actions{
            opacity: 1;
        }
    }
    
    .icon-circle{
       width: 50px;
        height: 50px;
        background-color: var(--color-bg-soft);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-lg);
        color: var(--color-brand-primary); 
    }
}

.categories-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--spacing-lg);
}

.category-name{
    font-weight: 600;
    color: var(--color-text-strong);
    font-size: var(--font-size-md);
}

.card-actions{
    display: flex;
    gap: var(--spacing-lg);
    opacity: 0.6;
    transition: all 0.2s ease;

}

.btn-icon {
    background: transparent;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 5px;
    transition: 0.2s;
    
    &.edit { color: var(--color-text-soft); }
    &.edit:hover { color: var(--color-brand-primary); }
    
    &.delete { color: var(--color-text-soft); }
    &.delete:hover { color: var(--color-loss); }
}

.category-card.add-card{
    background-color: transparent;
    border: 2px dashed var(--color-line);
    box-shadow: none;
    cursor: pointer;
    color: var(--color-text-soft);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover{
        background-color: var(--color-brand-primary);
        color: var(--color-brand-primary);
        background-color: rgba(63, 140, 255, 0.03);

        .icon-placeholder{
            background-color: var(--color-brand-primary);
            color: white;
        }
    }

    .icon-placeholder{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid currentColor;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        transition: 0.3s;
    }
}

//modal

.modal-btn-container{
    display: flex;
    justify-content: center;
    gap: var(--spacing-lg);

    .modal-btn{
        color: var(--color-bg);
        padding: var(--spacing-sm);
        border-radius: var(--spacing-sm);
        border: none;
        background-color: var(--color-text-normal);
        font-size: var(--font-size-md);
        font-family: 'Inter';
        box-shadow: var(--shadow-md);
        transition: all 0.3s ease;
        
        &:hover{
            transform: scale(1.01);
            cursor: pointer;
        }

        &.confirm{
            background-color: var(--color-success);
        }

        &.cancel{
            background-color: var(--color-loss);
        }
    }
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: var(--spacing-sm);
}

.delete-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: var(--spacing-sm);

    span{
        color: var(--color-brand-primary);
    }
}

.warning-message{
    color: var(--color-loss)
}