<div class="wallet-container">
    <div class="u-col">
        <div class="u-row title">
            <h3>Minha Carteira</h3>
            <i class="bi bi-wallet"></i>
        </div>
        <div class="div-line"></div>
    </div>

    <div class="wallet-body">

        @if (state.myWallet(); as wallet) {
            <div class="u-row u-gap-sm u-align-center">
                <i class="bi bi-coin"></i>
                <strong>Saldo: </strong> <span [ngClass]="{
                    'text-profit': wallet.balance >= 0,
                    'text-loss': wallet.balance < 0}">{{wallet.balance | currency: 'BRL'}}</span>
            </div>
            
        }@else{
            <span>Carregando dados da carteira...</span>
        }

    </div>

    <div class="wallet-footer">
        <button (click)="openAddSaldoModal()" class="wallet-button"><i class="bi bi-plus-circle"></i> Adicionar Saldo</button>
        <button (click)="OpenWithdrawModal()" class="wallet-button" style="background-color: var(--color-loss);"><i class="bi bi-dash-circle"></i> Retirar Saldo</button>
    </div>

    @if(modalMode()){
        <app-modal [title]="modalMode() == 'ADD' ? 'Adicionar Saldo' : 'Retirar Saldo'" (closeRequest)="closeModal()">
            @if (modalMode() === 'ADD'){    
                <div class="input-wrapper">
                    <label class="form-label">Valor para adicionar</label>
                    <input type="text"
                    class="money-input"
                    placeholder="R$ 0,00"
                    [formControl]="amountControl"
                    mask="separator.2"
                    thousandSeparator="."
                    decimalSeparator=","
                    prefix="R$"
                    [dropSpecialCharacters]="true">
                </div>

                <div class="modal-footer">
                    <button  (click)="confirmAdd()" class="modal-btn">Confirmar</button>
                    <button  (click)="closeModal()" class="modal-btn">Cancelar</button>
                </div>
            }
            @if (modalMode() === 'WITHDRAW'){

                <form [formGroup]="withdrawForm" class="form-withdraw">

                    <div class="input-withdraw">
                        <label class="form-label">Valor para retirar</label>
                        <input type="text"
                        class="money-input"
                        placeholder="R$ 0,00"
                        formControlName="amount"
                        mask="separator.2"
                        thousandSeparator="."
                        decimalSeparator=","
                        prefix="R$"
                        [dropSpecialCharacters]="true">
                    </div>

                    <div class="input-group">
                        <label class="form-label">Categoria</label>
                        <select class="form-input" formControlName="category">
                            <option value="" disabled selected>Selecione...</option>
                            @for (cat of categoryService.categories(); track cat.id) {
                                <option [value]="cat.id">{{cat.name}}</option>
                            }
                        </select>

                        <button (click)="openNewCategoryModal()" class="u-row u-align-center u-gap-sm geral-btn">
                            <i class="bi bi-plus-circle"></i>
                            <span>Nova</span>
                        </button>
                    </div>   
                    
                    <div class="input-description">
                        <label class="form-label">Descrição</label>
                        <input class="money-input" type="text" placeholder="Descrição (opcional)" formControlName="description">
                    </div>

                        
                    <div class="modal-footer">
                        <button  (click)="confirmWithdraw()" class="modal-btn">Confirmar</button>
                        <button  (click)="closeModal()" class="modal-btn">Cancelar</button>
                    </div>

                </form>
            }
        </app-modal>
    }
    
</div>

@if (isCategoryModalOpen()) {
    <app-modal title="Nova Categoria" (closeRequest)="isCategoryModalOpen.set(false)" 
    (confirmRequest)="saveNewCategory()">
        <div class="input-wrapper">
            <label class="form-label">Nome da Categoria</label>
            <input type="text" 
            class="form-input" 
            [formControl]="newCategoryControl" 
            placeholder="Ex: Investimentos, Contas..."
            (keyup.enter)="saveNewCategory()"> 
        </div>
        
        <div class="modal-footer">
            <button  (click)="saveNewCategory()" class="modal-btn">Confirmar</button>
            <button  (click)="closeNewCategoryModal()" class="modal-btn">Cancelar</button>
        </div>
    </app-modal>
}