.modal-background{
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.400);

    width: 100%;
    height: 100vh;
    z-index: 1000;
}

.modal-content{
    background-color: var(--color-bg);
    padding: var(--spacing-md);
    border-radius: var(--spacing-md);
    box-shadow: var(--shadow-lg);

    display: flex;
    flex-direction: column;
    width: 30%;
    height: auto;
    min-height: 300px;
    gap: var(--spacing-md);
}

.icon-close{
    font-size: 2rem;

    &:hover{
        color: var(--color-text-strong);
        cursor: pointer;
    }
}

.modal-title{
    font-size: var(--font-size-lg);
    font-family: "Inter";
    color: var(--color-text-normal);
    font-weight: 600;
}

.div-line{
    border-bottom: 1px solid var(--color-text-soft);
    box-shadow: var(--shadow-lg);
}

.modal-header{
    height: 25%;
}

.modal-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75%;
    flex: 1;
}