.form-btn{
    background-color: var(--color-text-normal);
}

header{
    background-color: var(--color-brand-secondary);
    height: 70px;
    align-items: center;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    box-shadow: var(--shadow-sm);
}

.menu{
    font-size: var(--font-size-xl);
    color: var(--color-text-normal);
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    
    
    i{
        font-size: var(--font-size-xl);
        color: var(--color-text-normal);
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    i:hover{
        transform: scale(1.03);
        color: var(--color-text-normal-strong);
    }
}
