img{
    width: 3.5rem;
    height: 3.3rem;
    border-radius: 100%;
    box-shadow: var(--shadow-md);
}

.container-logo{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex: 1;
}

.div-line{
  width: 85%;
  border-bottom: 2px solid var(--color-text-normal);
}
