.container-logo{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex: 1;
}

.div-line{
  width: 85%;
  border-bottom: 1px solid var(--color-text-normal);
}

.title{
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    text-transform: uppercase;
    letter-spacing: 2.2px;
    color: var(--color-text-normal);
    font-size: 1.2em;
    text-align: center;
    
    .subtitle{
        font-size: 0.6em;
        letter-spacing: 1.1px;
        // color: var(--color-text-soft);
        color: rgba(255, 255, 255, 0.98);
    }
}