<div class="register-container">
    <form [formGroup]="form" class="form-body" (ngSubmit)="onSubmit()">
        
        <div class="title">
            <div class="u-row u-align-center u-gap-lg">
                <i (click)="backToLogin()" id="back-to-login" class="bi bi-arrow-left icon" title="Back to login"></i>
                <div class="u-row u-align-center u-gap-sm">
                    <i class="bi bi-person-fill icon"></i>
                    <h3>Registro</h3>
                </div>
            </div>
            <div class="div-line"></div>
        </div>
        
        <input type="text" placeholder="Primeiro Nome" formControlName="firstName" class="input-linha">
        <input type="text" placeholder="Sobrenome" formControlName="lastName" class="input-linha">
        <input type="text" placeholder="Username (Opcional)" formControlName="username" class="input-linha">
        <input type="email" placeholder="E-mail" formControlName="email" class="input-linha">
        
        <div class="input-senha">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Senha" formControlName="password" class="input-linha">
            <i (click)="togglePassword()" [ngClass]="{'bi bi-eye-fill': !showPassword, 'bi bi-eye-slash-fill': showPassword}" class="bi bi-eye-fill" style="font-size: 1.2rem;"></i>
        </div>
        
        <div class="input-senha">
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Confirme sua Senha" formControlName="passwordConfirm" class="input-linha">
            <i (click)="togglePassword()" [ngClass]="{'bi bi-eye-fill': !showPassword, 'bi bi-eye-slash-fill': showPassword}" class="bi bi-eye-fill" style="font-size: 1.2rem;"></i>
        </div>

        
        <button class="form-btn" type="submit">
            <span *ngIf="!loading()">Registrar-se</span>
            <span *ngIf="loading()">Carregando...</span>
        </button>
    </form>
</div>
<app-footer></app-footer>    
