:host {
    min-height: 100vh; 
    width: 100%;
    margin: 0;
    
    display: flex;    
    flex-direction: column; 
    
    background-color: var(--color-bg); 
}

.register-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    padding: 2rem; 
}


.input-linha {
  width: 100%;
  padding: 8px 2px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  font-family: 'Inter';
  outline: none;
  transition: border-color 0.3s ease;
}

.div-line{
    width: 60%;
    border-bottom: 2px solid var(--color-brand-primary);
    box-shadow: var(--glow-primary);
}

.icon{
    font-size: 1.6rem;
}

.form-btn{
    margin-top: 0.8rem;
}

#back-to-login{
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
        color: var(--color-text-strong);

    }
}

.input-senha{
    display: flex;
    position: relative;

    i{
        position: absolute;
        top: 0;
        right: 10px;
    }
}

.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    offset: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000054;
}

.modal{
    width: 40%;
    height: 50vh;
    padding: 2rem 3rem;
    text-align: center;
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    box-shadow: var(--shadow-ls);
}

.modal-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.close-button{
    position: absolute;
    right: 600px;
    top: 260px;

    i{
        font-weight: 700;
        font-size: 2rem;
        padding: 1rem;

        &:hover{
            background-color: #ccc;
            border-radius: 50%;
        }
    }
}
