footer{
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}
.copy-rigth{
    display: flex;
    text-align: center;
}

.redes-sociais{
    ul{
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    a{
        text-decoration: none;
        color: var(--color-text-normal);
    }

    a:hover{
        text-decoration: underline;
    }
}