<footer>
    <div class="copy-rigth">
        All rights researds &#169;<br>2025
    </div>
    <div class="redes-sociais">
        <ul>
            <li><a href="#"><i class="bi bi-linkedin"></i> Linkedin</a></li>
            <li><a href="#"><i class="bi bi-github"></i> Github</a></li>
            <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
            <li><a href="#"><i class="bi bi-envelope"></i> E-mail</a></li>
        </ul>
    </div>
    <div class="developed-by">
        Developed By Lucas Lopes
    </div>
</footer>