:host {
    display: block;
    width: 100%;
    margin-top: auto;
}

footer{
    background-color: var(--color-text-strong);
    color: var(--color-text-soft);
    padding: var(--spacing-md);
    gap: var(--spacing-md);

    align-items: center;
    text-align: center;
    margin-top: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    font-size: var(--font-size-sm);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    width: 100%;
}

.redes-sociais{
    ul{
        list-style: none;
        display: flex;
        justify-content: center;
        gap: var(--spacing-md);
        padding: 0;
    }

    a{
        text-decoration: none;
        color: var(--color-text-soft);
        transition: all 0.3s ease;
        font-size: 1rem;

        display: flex; 
        align-items: center;
        gap: 5px;

        &:hover{
            color: var(--color-brand-secondary);
            transform: translateY(-2px);
        }
    }

}